.btn {
  display: block;
  background: transparent;
  border: none;
  font-size: inherit;
  border-radius: .25rem;
  padding: .5rem;
  cursor: pointer;
}

.btn-primary {
  background-color: #6a5acd;
  color: white;
}

.btn-primary:hover {
  background-color: #6a5ddd;
}

.btn-danger {
  background-color: #dc143c;
  color: white;
}

.btn-danger:hover {
  background-color: #dc1111 ;
}
